.regions {
	border: 1px solid black;
}

.region {
	border: 1px solid black;
	background-color: #ccc;
	opacity: 0.5;
	text-align: center;
}

.region.selected {
	border: 1px solid red;
}

::-ms-tooltip {
    display: none;
}